button {
    color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #2b9967;
    cursor: pointer;
}

.button--wide {
    flex: 0 0 60%;
}

.button--medium-wide {
    flex: 0 0 30%;
}

.button--transparent {
    padding: 0 1rem;
    background-color: transparent;
    border: 1px solid #5888a1;
    color: #5888a1;
}
