.form {
    padding: 2rem 1rem;
    background: rgb(105, 180, 230);
    background: linear-gradient(135deg, rgba(105, 180, 230, 1) 0%, rgba(125, 196, 231, 1) 50%, rgba(146, 213, 233, 1) 100%);
}

select,
input,
button {
    border: 0;
    
    &:hover, &:active, &:focus {
        outline: 0 !important;
    }
}

select,
input {
    padding: 0 .5rem;
    background-color: #ffffff;
    
    height: 2.5rem;
    width: 100px;
}

.input-group {
    display: flex;
}

.input-group__select,
.input-group__input {
    flex-grow: 1;
    flex-basis: 0;
}

.input-group__hint {
    display: inline-flex;
    width: 2.5rem;
    align-items: center;
    justify-content: center;
    background-color: #b4e3f2;
}

.input-group__button {
    display: inline-flex;
}

.fieldset {
    border: 0;
    outline: 0;
    padding: 0;
}

.checkbox {
    display: flex;
    height: 0;
    align-items: center;
}

.checkbox__input {
    opacity: 0;
    
    &:checked {
        & + .checkbox__label {
            &:before {
                transform: rotate(90deg);
                background-image: url('../../assets/checkbox.svg');
            }
        }
    }
}

.checkbox__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: .75rem;
    user-select: none;
    
    &:before {
        content: '';
        margin-right: .5rem;
        background: url('../../assets/checkbox.svg') no-repeat;
        background-size: contain;
        width: 1rem;
        height: 1rem;
        transition: transform .15s;
        transform: rotate(45deg);
    }
}
