.options {
    background-color: #e1f1fe;
    padding: .5rem 1rem;
    display: flex;
    flex-wrap: wrap;
}

.options--left {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
}

.options--right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    flex: 0 0 50%;
}

.property-options {
    display: flex;
    flex: 0 0 50%;
}
