.switch {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2b9967;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: .25rem;
    bottom: .25rem;
    background-color: #ffffff;
    transition: .4s;
    transform: translateX(1rem);
}

input:checked + .slider {
    background-color: #2b9967;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2b9967;
}

input:checked + .slider:before {
    transform: translateX(0);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
