@import '~css-reset-and-normalize';
@import "buttons";
@import "forms";
@import "helpers";
@import "options.component";
@import "switch.component";


body {
    font-size: 16px;
    padding-top: 3rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5rem;
}
