<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div class="panel">
      <form class="form" @submit.prevent="submit">
        <fieldset class="fieldset" v-if="primarySearch">
          <div class="input-group">
            <select class="input-group__select select" aria-label="" v-model="form.city">
              <option>Москва</option>
              <option>Санкт-Петербург</option>
            </select>
            <select class="input-group__select select" aria-label="" v-model="form.operationType">
              <option>Купить</option>
              <option>Продать</option>
            </select>
            <select class="input-group__select select" aria-label="" v-model="form.buildingType">
              <option>Офис</option>
              <option>Склад</option>
            </select>
            <button class="input-group__button button" type="submit">Найти</button>
          </div>
        </fieldset>
        <fieldset class="fieldset" v-else>
          <div class="input-group">
            <input aria-label=""
                   class="input-group__input"
                   placeholder="Введите название обекта"
                   type="text"
                   v-model="searchQuery">
            <button type="submit">Найти</button>
          </div>
        </fieldset>
        <fieldset class="fieldset mt-1" v-if="searchOptions.aria && primarySearch">
          <div class="input-group">
            <button class="input-group__input button--wide button--transparent mr-1" @click="showPriceOption">
              Добавить цену
            </button>
            <input aria-label=""
                   class="input-group__input"
                   placeholder="От"
                   type="number"
                   v-model.number="form.area.start">
            <input aria-label=""
                   class="input-group__input"
                   placeholder="До"
                   type="number"
                   v-model.number="form.area.end">
            <span class="input-group__hint">м&sup2;</span>
          </div>
        </fieldset>
        <fieldset class="fieldset mt-1" v-if="searchOptions.price && primarySearch">
          <div class="input-group">
            <input class="input-group__input"
                   aria-label=""
                   type="number"
                   placeholder="От"
                   v-model.number="form.price.start">
            <input aria-label=""
                   class="input-group__input"
                   placeholder="До"
                   type="number"
                   v-model.number="form.price.end">
            <select class="input-group__select" aria-label="" type="text">
              <option value="">₽/месяц</option>
              <option value="">₽/год</option>
            </select>
            <button class="button--medium-wide button--transparent ml-1" @click="showAriaOption">
              Добавить метраж
            </button>
          </div>
        </fieldset>
      </form>
      <div class="options">
        <div class="options--left">
          <span>Основной поиск</span>
          <label class="switch">
            <input type="checkbox" v-model="primarySearch">
            <span class="slider round"></span>
          </label>
          <span>Искать по названию</span>
        </div>

        <div class="options--right" v-if="primarySearch">
          <div class="checkbox mr-1">
            <input aria-label=""
                   @change="togglePriceOption"
                   class="checkbox__input required"
                   id="price"
                   type="checkbox"
                   v-model="searchOptions.price">
            <label for="price" class="checkbox__label">
              Цена</label>
          </div>
          <div class="checkbox">
            <input aria-label=""
                   @change="toggleAriaOption"
                   class="checkbox__input required"
                   id="area"
                   type="checkbox"
                   v-model="searchOptions.aria">
            <label for="area" class="checkbox__label">
              Метраж</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data: () => ({
    primarySearch: true,
    searchOptions: {
      price: false,
      aria: false
    },
    form: {
      searchQuery: null,
      city: 'Москва',
      operationType: 'Купить',
      buildingType: 'Офис',
      price: {
        start: null,
        end: null
      },
      area: {
        start: null,
        end: null
      }
    }
  }),
  methods: {
    submit () {
      this.$emit('submit', this.form)
    },
    toggleAriaOption () {
      this.searchOptions.price = false
    },
    togglePriceOption () {
      this.searchOptions.aria = false
    },
    showPriceOption () {
      this.searchOptions.price = true
      this.searchOptions.aria = false
    },
    showAriaOption () {
      this.searchOptions.aria = true
      this.searchOptions.price = false
    }
  }
}
</script>

<style lang="scss">
  .panel {
    width: 750px;
    margin: auto;
  }
</style>
